{{define "title"}}builds todo{{end}}
{{define "main"}}
<main>

{{showerror .Error}}

{{if .BuildID}}
	<div class="col col1">
	<h2>Build</h2>
	<div>
	Build: {{.BuildID}}!<br />
	{{with .Status}}
	Branch: {{.Branch}}<br />
	Start: {{.Start}}<br />
	Done: {{.Done}}<br />
	Success: {{.Success}}<br />
	Error: {{with .Error}}{{.}}{{else}}(none){{end}}<br />
	{{end}}
	</div>
	<h2>Stdout:</h2>
	<div>
	<pre>
		{{.Stdout}}
	</pre>
	</div>
{{end}}
</main>
{{end}}
