{{define "title"}}builds todo{{end}}
{{define "main"}}
<main>

{{showerror .Error}}

{{if .BuildID}}
	<div class="col col1">
	<h2>Build</h2>
	<div>
	<div class="define">
		<label>Build</label><note>{{.BuildID}}!</note>
	{{with .Status}}
		<label>Branch</label><note>{{.Branch}}</note>
		<label>Start</label><note>{{datetime .Start}}</note>
		<label>Done:</label><note>
			{{if not .Done}}
				{{showstatus "running"}}
			{{else}}
				{{showstatus "success"}}
			{{end}}
		</note>
		{{if .Done}}
			<label>Success</label><note>
				{{if .Success}}
					{{showstatus "success"}}
				{{else}}
					{{showstatus "failed"}}
				{{end}}
			</note>
			<label>Error</label><note>{{with .Error}}{{.}}{{else}}(none){{end}}</note>
		{{end}}
		{{end}}
	</div>
	</div>
	<h2>Stdout:</h2>
	<div>
		<a href="./stdout?buildid={{.BuildID}}">Raw text output</a> - 
		<a href="./stdout?buildid={{.BuildID}}&tail=-f">tail -f</a>
	<pre>
		{{- .Stdout}}
	</pre>
	</div>
{{end}}
</main>
{{end}}
