{{define "title"}}
new build: {{with project .ProjID}}{{.Name}}{{else}}(removed project){{end}}
{{end}}
{{define "main"}}
<main>

{{showerror .Error}}

{{if .ProjID}}
<div class="col col1">
	{{if eq .Page "build"}}
		<h2>Build</h2>
		<div>
			Building: <a href="./builds?buildid={{.BuildID}}">{{.BuildID}}</a><br />
			<br />
			<a href="./">back</a>	
		</div>
	{{else}}
		<h2>New Build</h2>
		<div class="define">
			<label>Project</label><note>{{.Project.Name}}</note>
			<label>Repo</label><note>{{.Project.Git}}</note>
			<label>Attribute</label><note>{{.Project.Attribute}}</note>
		</div>
		{{if not .Error}}
			<h2>Git Branch</h2>
			<div>
				<form method="POST" action="./build">
				<input type="hidden" name="projid" value="{{.ProjID}}" />
				{{range .Branches}}
				<label><input type="radio" name="branch" value="{{.}}" {{if eq $.Branch .}}checked{{end}}/> {{.}}</label><br />
				{{end}}
				<button name="page" value="build">Build!</a>
				</form>
			</div>
		{{end}}
	{{end}}
</div>
{{end}}
</main>
{{end}}
