{{define "main"}}

<main>
<div class="col col2a">
	<h2>Projects:</h2>
	<div>
	<ul>
	{{range .Config.Projects}}
		<li><a href="./build?projid={{.ID}}">build</a>: {{.Name}}</li>
	{{end}}
	</ul>
	</div>
</div>

<div class="col col2b">
	<h2>Builds:</h2>
	<div>
	{{range .Builds}}
		{{ $b := .Status }}
		<div class="build">
			<div>
				<a href="./builds?buildid={{.ID}}">{{.ID}}</a>
			</div>
			<div>
			{{if not $b.Done}}
				{{showstatus "running" "Running"}}
			{{else if $b.Success}}
				{{showstatus "success" "Success"}}
			{{else}}
				{{showstatus "failed" "Failed"}}
			{{end}}
			</div>
			<div>
				{{$b.Branch}}
			</div>
			<div>
				{{datetime $b.Start}}
			</div>
			<div>
				{{if $b.Done}}{{duration ($b.Finish.Sub $b.Start)}}{{end}}</note>
			</div>
		</div>
	{{end}}
	</div>
</div>
</main>
{{end}}
