{{define "main"}}

<main>
<div class="col col2a">
	<h2>Projects:</h2>
	<div>
	{{$lastCat := ""}}
	{{range .Config.Projects}}
		{{if and (ne .Category "") (ne .Category $lastCat)}}
			<h2>{{.Category}}</h2>
			{{$lastCat = .Category}}
		{{end}}
		<a href="./build?projid={{.ID}}" class="buildlink"><div class="project">{{.Name}}</div></a>
	{{end}}
	</div>
</div>

<div class="col col2b">
	<h2>Builds:</h2>
	<div>
	{{range .Builds}}
		{{ $b := .Status }}
		<a href="./builds?buildid={{.ID}}" class="buildlink">
		<div class="build">
			<div>
			{{if not $b.Done}}
				{{showstatus "running" "Running"}}
			{{else if $b.Success}}
				{{showstatus "success" "Success"}}
			{{else}}
				{{showstatus "failed" "Failed"}}
			{{end}}
			</div>
			<div>
				{{with project $b.ProjectID}}{{.Name}}{{else}}[removed project]{{end}}
			</div>
			<div>
				{{$b.Branch}}
			</div>
			<div>
				{{$b.ShortRev}}
			</div>
			<div>
				{{datetime $b.Start}}
			</div>
			<div>
				{{if $b.Done}}{{duration ($b.Finish.Sub $b.Start)}}{{end}}
			</div>
		</div>
		</a>
	{{end}}
	</div>
</div>
</main>
{{end}}
