{{define "root"}}
<!DOCTYPE html>
<html>
<head>
  <title>{{block "title" .}}niksnut{{end}} - niksnut</title>
  <link href="/static/s.css" rel="stylesheet" />
</head>
<body>
	<a href="/">home</a>
	<hr />
	{{block "main" .}}{{end}}
</body>
</html>
{{end}}
